$primary-color: rgba(0, 224, 145, 0.2);
$secondary-color: rgba(0, 224, 145, 0.1);
$tertiary-color: rgba(224, 42, 0, 1);
$quad-color: rgba(224, 42, 0, 0.15);

$para-color: rgba(68, 68, 68, 1);

$grey: rgba(223, 223, 223, 1);
$pink: rgba(252, 214, 211, 1);

$overlay: rgba(38, 38, 38, 0.29);
