---
export interface Props {
  text: string;
  link: string;
}

const { text, link } = Astro.props;
---

<a class="btn-second" href={link}>{text}</a>

<style lang="scss">
  @use "../styles/abstracts/index.scss" as *;

  a {
    @include nav-link;
    background-color: $tertiary-color;
    padding: 1.2rem 2rem;
    width: auto;
  }

  a:hover {
    @include nav-link;
    background-color: $primary-color;
    padding: 1.2rem 2rem;
  }

  @media (min-width: 600px) {
    .btn-main {
      display: none;
    }
    .btn-second {
      display: none;
    }

    .burger-meniu {
      display: none;
    }
  }

  @media (max-width: 600px) {
    .btn-main {
      display: block;
    }
  }
</style>
