---

---

<section class="devin-container">
  <div class="devin">
    <div class="devin__devin">
      <a href="/implicate">Devino Voluntar</a>
    </div>
    <div class="devin__devin">
      <a href="/doneaza">Doneaza</a>
    </div>
  </div>
</section>

<style lang="scss">
  @use "../styles/abstracts/index.scss" as *;

  .devin {
    @include flex;
    width: 100%;
    margin: 3rem 0;

    &__devin {
      @include flex-center;

      width: 100%;
      background-color: $primary-color;
      padding: 6rem 0;

      > a {
        width: 7ch;
        font-size: 3rem;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
  .devin__devin:nth-of-type(2) {
    background-color: $pink;
  }

  @media (max-width: 700px) {
    .devin {
      flex-wrap: wrap;
    }
  }
</style>
