---
import type { CollectionEntry } from "astro:content";

import Post from "./Post.astro";
type Props = {
  posts: CollectionEntry<"posts">[];
};

const { posts } = Astro.props;
---

<div>
  {posts.map((post) => <Post post={post} />)}
</div>





        