---
import "../styles/base.scss";

export interface Props {
  title: string;
  description: string;
  content: string;
}

const { title, description, content } = Astro.props;

import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name={description} content={content} />
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
